/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* белый цвет #FFFFFF */
/* акцент #2196F3 */
/* цвет текста футера rgba(255, 255, 255, 0.6) */
/* цвет текста даты rgba(255, 255, 255, 0.4) */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.container {
  width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}
/* шапка */
.main-nav {
  display: flex;
  align-items: center;
}

/* логотип */
.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Site nav */
.site-nav {
  display: flex;
  margin-left: 80px;
}
.site-nav .item {
  background: tomato;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* Auth nav */
.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 30px;
}
.auth-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 46px;
  outline: 1px solid red;
  color: var(--title-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
}
/* button */
.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0.5px solid transparent;

  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
}
/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding {
  padding-top: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  text-decoration: none;
}
/* Features */
.feature-list .title {
  margin-top: 30px;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-list .text {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/* specialization */
.specialization-list .item {
  margin-top: 27px;
  margin-bottom: 27px;
}
.specialization-list .link {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.specialization-list .link:hover,
.specialization-list .link:focus {
  color: var(--accent-color);
}
/* Staff */
.section.staff {
  background: #f5f4fa;
}
.staff-list .title {
  margin-top: 30px;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.staff-list .text {
  margin-top: 10px;
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/* footer */
.container-footer {
  padding-top: 48px;
  padding-bottom: 88px;
}
footer {
  background-color: #2f303a;
}
.accent {
  color: var(--accent-color);
}
.adress-list .logo {
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-size: 22px;
  line-height: 1.18;
  text-decoration: none;
}
.adress-list .title {
  color: var(--white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.adress-list .link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.adress-list .link:hover,
.adress-list .link:focus {
  color: var(--accent-color);
}
.footer-text {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.footer-date {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/* Портфолио */
/* Кнопки фильтра */
.filter-list .link {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;

  background-color: #f5f4fa;
  color: var(--title-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}
.filter-list .link:hover,
.filter-list .link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.portfolio-list .text {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}
.portfolio-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list .subtitle {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
.portfolio-list .link {
  text-decoration: none;
}
